networks:
  {{network_name}}:
    driver: ipvlan
    driver_opts:
      parent: enX0 # the interface on your docker host that it will tunnel through
      ipvlan_mode: l3 # Layer 3 mode
    ipam:
      config:
        - subnet: 192.168.25.0/24 # your networks subnet
        - subnet: 192.168.26.0/24 # your networks subnet
    name: {{network_name}}
      
services:
  db:
    image: mariadb:10.11
    container_name: seafile-mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${mysql_password}  # Required, set the root's password of MySQL service.
      - MYSQL_LOG_CONSOLE=true
      - MARIADB_AUTO_UPGRADE=1
    volumes:
      - ${DATA_DIR-./data}/seafiles/mysql/db:/var/lib/mysql  # Required, specifies the path to MySQL data persistent store.
    networks:
      - {{network_name}}
          ipv4_address: 192.168.25.10

  memcached:
    image: memcached:1.6.18
    container_name: seafile-memcached
    entrypoint: memcached -m 256
    networks:
      - {{network_name}}
          ipv4_address: 192.168.25.20

  seafile:
    image: seafileltd/seafile-mc:11.0-latest
    container_name: seafile
    ports:
      - "80:80"
#     - "443:443"  # If https is enabled, cancel the comment.
    volumes:
      - ${DATA_DIR-./data}/seafiles/data:/shared   # Required, specifies the path to Seafile data persistent store.
    environment:
      - DB_HOST=db
      - DB_ROOT_PASSWD=${mysql_password}  # Required, the value should be root's password of MySQL service.
      - TIME_ZONE=Etc/UTC+1  # Optional, default is UTC. Should be uncomment and set to your local time zone.
      - SEAFILE_ADMIN_EMAIL=${admin_email} # Specifies Seafile admin user, default is 'me@example.com'.
      - SEAFILE_ADMIN_PASSWORD=${admin_password}     # Specifies Seafile admin password, default is 'asecret'.
      - SEAFILE_SERVER_LETSENCRYPT=false   # Whether to use https or not.
      - SEAFILE_SERVER_HOSTNAME=${site_url} # Specifies your host name if https is enabled.
    depends_on:
      - db
      - memcached
    networks:
      - {{network_name}}
          ipv4_address: 192.168.25.30


